.toolbar {
  border-bottom: 1px solid lightgrey;
}
.toolbar button {
  padding: 10px;
  border: none;
}
/* Delete later */
list row label {
  font-family: 'Monospace';
  font-size: 14px;
}

.disassembly-column-view {
  font-family: 'Monospace';
  font-size: 14px;
}
.disassembly-column-view listview row cell {
  padding: 0;
}
.disassembly-column-view listview row cell label {
  padding: 2px 4px;
}

.breakpoint-column-view {
  font-family: 'Monospace';
  font-size: 14px;
}
.breakpoint-column-view listview row cell {
  padding: 0;
}
.breakpoint-column-view listview row cell label {
  padding: 2px 4px;
}

#current-instruction {
  background-color: #00ff0066;
}
#breakpoint-instruction {
  background-color: #ff000066;
}
.memory-toolbar label {
  padding: 0 4px;
}
.memory-toolbar entry {
  padding: 0 4px;
}
.memory-column-view {
  font-family: 'Monospace';
  font-size: 14px;
  border-width: 20px;
}
.memory-column-view box label:first-child {
  border-bottom-color: #cccccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.memory-column-view > box:first-child > label,
.memory-column-view > box:nth-child(2) > label {
  border-right-color: #cccccc;
  border-right-style: solid;
  border-right-width: 1px;
}
.memory-column-view > box > label {
  padding: 2px 4px;
  color: black;
  background-color: white;
}
.dump-tree-view button, .registers-tree-view button, .stack-tree-view button {
  padding: 0px 10px 0px 5px;
  font-size: 14px;
}
.registers-tree-view, .stack-tree-view {
  font-family: 'Monospace';
  font-size: 14px;
}
